[Unit]
Description=MVSDK Control Daemon
After=systemd-user-sessions.service

[Service]
Type=forking
ExecStart=/usr/local/sbin/TH/mvsdk_ctrld
User=root
PIDFile=/var/run/mvsdk_ctrld.pid

[Install]
WantedBy=multi-user.target
